<div *ngIf="isEmptyCategory$ | async">

    <div class="row">
        <div class="col-lg-12">
            <br>
            <div *ngIf="category; else elseBlock">
                <mdb-icon fas icon="folder-open"></mdb-icon> {{category.title}}
            </div>
            <ng-template #elseBlock>
                <mdb-icon fas icon="file"></mdb-icon> Misc
            </ng-template>
            <hr>
        </div>
    </div>

    <div class="row justify-content-md-end">
        <div class="col-lg-11">
            <div class="row">
                <div class="col-lg-4" *ngFor="let work of worksCategory$ | async">
                    <br>  
                    <div *ngIf="(isLoggedIn$ | async) && !(isPreviewMode$ | async); else notLoggedIn">
                        <app-work-instance-editmode [work]="work"></app-work-instance-editmode>
                    </div>
                    <ng-template #notLoggedIn>
                        <app-work-instance-displaymode [work]="work"></app-work-instance-displaymode>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>

    <br><br>
    <br><br>

</div>