<div class="container">
    <div class="row" *ngFor="let post of k | async">
        <div class="col-lg-12">

            <mdb-card>
                <mdb-card-body>
                
                    <mdb-card-title>
                    <h4>Card Title</h4>
                    </mdb-card-title>
                
                    <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                    content.
                    </mdb-card-text>
                
                    <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
                </mdb-card-body>
            </mdb-card>
        </div>
    </div>
</div>