<div class="container col-lg-11">
    <div class="row">
        <div class="col-lg-10" *ngIf="isLoggedIn$ | async">
                <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
                    <button mdbBtn type="button" color="default" size="lg" class="waves-light" mdbWavesEffect (click)="togglePreviewMode()"> Preview {{(isPreviewMode$ | async) ? " On" : " Off"}} </button>
                    <!-- <button mdbBtn type="button" rounded="true" color="primary" size="lg" class="waves-light" mdbWavesEffect> + </button> -->
                    <app-add-text-modal
                        [addButtonCallback]="addText.bind(this)">
                    </app-add-text-modal>
                </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-10" *ngFor="let post of posts">
            <br>
            <mdb-card>

                <app-delete-warning *ngIf="(isLoggedIn$ | async) && !(isPreviewMode$ | async)"
                    [objectToDelete]="post"
                    [deleteCallback]="deleteText.bind(this)">
                </app-delete-warning>

                <mdb-card-header class="white text-black-50 text-center py-1">
                    <div *ngIf="(isLoggedIn$ | async) && !(isPreviewMode$ | async); else notLoggedInTitle">
                        <div class="md-form">
                            <input mdbInput type="text" class="form-control" [(ngModel)]="post.title">
                            <label for="form1" class="">Section Title</label>
                        </div>
                    </div>
                    <ng-template #notLoggedInTitle>
                        <h5><strong> {{post.title}} </strong></h5>
                    </ng-template>
                </mdb-card-header>
                <div *ngIf="(isLoggedIn$ | async) && !(isPreviewMode$ | async); else notLoggedIn">
                    <quill-editor [(ngModel)]="post.text"></quill-editor>
                    <mdb-card-body>
                        <button mdbBtn color="default" (click)="updateText(post)" mdbWavesEffect>Save</button>
                        Last Edited By {{post.lastUpdatedBy}} on {{post.lastUpdated}}
                    </mdb-card-body>
                </div>
                <ng-template #notLoggedIn>
                    <quill-view [content]="post.text"></quill-view>
                </ng-template>
            </mdb-card>
        </div>
    </div>
</div>