
<!--
<mdb-navbar SideClass="navbar navbar-expand-lg">

  <mdb-navbar-brand><a class="navbar-brand" href="#">Dr. Ken Batcher</a></mdb-navbar-brand>

  <links>

      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link waves-light" mdbWavesEffect>About<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect>Doccuments</a>
          </li>
      </ul>
  </links>

</mdb-navbar> -->

<mdb-navbar SideClass="navbar navbar-expand-lg grey lighten-5 grey-text" mdbStickyHeader>
    <mdb-navbar-brand><a class="navbar-brand grey-text" href="#">{{title}}</a></mdb-navbar-brand>
    <links>
        <ul class="navbar-nav mr-auto">
            <li *ngFor="let link of links" 
            class="nav-item active"><a class="nav-link waves-light" href={{link.route}} mdbWavesEffect>{{link.title}}</a></li>
        </ul>
    </links>
</mdb-navbar>

<br><br><br>

<router-outlet></router-outlet>