
<!--
<mdb-navbar SideClass="navbar navbar-expand-lg">

  <mdb-navbar-brand><a class="navbar-brand" href="#">Dr. Ken Batcher</a></mdb-navbar-brand>

  <links>

      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link waves-light" mdbWavesEffect>About<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect>Doccuments</a>
          </li>
      </ul>
  </links>

</mdb-navbar> -->

<mdb-navbar SideClass="navbar navbar-expand-lg grey lighten-5 grey-text" mdbStickyHeader>
    <mdb-navbar-brand><a class="navbar-brand grey-text" href="#">Dr. Ken Batcher Memorial Site</a></mdb-navbar-brand>
    <mdb-navbar-brand class="nav-item"><a class="nav-link grey-text" href="#">About</a></mdb-navbar-brand>
    <mdb-navbar-brand class="nav-item"><a class="nav-link grey-text" href="#">Works</a></mdb-navbar-brand>
</mdb-navbar>

<br><br><br>
<app-text-posts></app-text-posts>

<router-outlet></router-outlet>