<div class="container col-lg-11">

    <div class="row justify-content-center">
        <div class="md-form col-lg-4 form-inline form-sm">
            <mdb-icon fas icon="search" aria-hidden="true" size="sm"></mdb-icon>
            <input class="form-control form-control-sm" type="text" placeholder="Search" aria-label="Search" mdbInput [(ngModel)]="searchText" (ngModelChange)="search()">
        </div>
    </div>
            

    <div class="row">
        <div class="col-lg-10" *ngIf="isLoggedIn$ | async">
                <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
                    <button mdbBtn type="button" color="default" size="lg" class="waves-light" mdbWavesEffect (click)="previewMode = !previewMode"> Preview {{ !previewMode ? "On" : "Off" }} </button>
                    <app-add-work-modal
                        [addButtonCallback]="addWork.bind(this)"
                    ></app-add-work-modal>
                </div>
        </div>
    </div>

    <div class="row" *ngFor="let category of categories">
        <app-category [category]="category"></app-category>
    </div>
</div>