<div class="container col-lg-11">

    <div class="row justify-content-end">
        <div class="col-lg-11">
    <div class="row justify-content-end">

        <div class="md-form col-lg-3 form-inline form-sm">
            <mdb-icon fas icon="search" aria-hidden="true" size="sm"></mdb-icon>
            <input class="form-control form-control-sm" type="text" placeholder="Search" aria-label="Search" mdbInput [(ngModel)]="searchText" (ngModelChange)="search()">
        </div>

    </div>
    </div>
    </div>
            

    <div class="row">
        <div class="col-lg-10" *ngIf="isLoggedIn$ | async">
            <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
                <button mdbBtn type="button" color="default" size="lg" class="waves-light" mdbWavesEffect (click)="togglePreviewMode()"> Preview {{(isPreviewMode$ | async) ? " On" : " Off"}}</button>
                <app-add-work-modal></app-add-work-modal>
                <app-add-category-modal></app-add-category-modal>
            </div>
        </div>
    </div>

    <div *ngFor="let category of (categories$ | async)">
        <app-category [category]="category"></app-category>
    </div>
    <!--works not in a category-->
    <app-category [category]="null"></app-category>
</div>